body {
   margin: 0;
   padding: 0;
}

.nombre {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(127, 139, 189);
   height: 90vh;
   box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.72);
}
.nombre h1{
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   font-size: 64px;
}
.nombre::before, .nombre::after {
   content: "";
   height: 200px;
   width: 200px;
   background-color: rgb(127, 139, 189);
   position: absolute;
   bottom: 0px;
   z-index: 10;
}
.nombre::before {
   bottom: -4%;
   right: 50%;
   transform: skew(0, 20deg);
}
.nombre::after {
   bottom: -4%;
   left: 50%;
   transform: skew(0, -20deg);
}
.photo {
   height: 400px;
   left: 0px;
   z-index: 20;
}

.gustos {
   position: relative;
   display: flex;
   justify-content: center;
   background-color: rgb(189, 127, 127);
   align-items: center;
   height: 100vh;
}
.gustos h1{
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   font-size: 64px;
}
.language {
   height: 100px;
}
.coffee {
   height: 400px;
   position: absolute;
   bottom: -81px;
}

.trabajo {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: rgb(139, 189, 127);
   align-items: center;
   height: 100vh;
}
.trabajo h1{
   width: 100%;
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   text-align: center;
   font-size: 64px;
}
.city, .programmer {
   height: 40%
}
